# This is a sample .env file
# Rename this file to .env and update the environment variables

# if true will display django error page with traceback output, keep true for development
# SECURITY WARNING: don't run with the debug turned on in production
DEBUG=on

# Django secret key, auto generated when creating a django project
# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY=<YOUR_DJANGO_SECRET_KEY>

# Postgres database configuration
POSTGRES_DB=<YOUR_DB_NAME>
POSTGRES_USER=<YOUR_DB_USERNAME>
POSTGRES_PASSWORD=<YOUR_DB_USER_PASSWORD>
POSTGRES_HOST=<YOUR_HOST_NAME>
POSTGRES_PORT=<YOUR_POSTGRES_DB_PORT>

# list of allowed origins(comma separted string)
CORS_ALLOWED_ORIGINS=<LIST_OF_ALLOWED_ORIGIN_URLS>


# Django wmail configuration
# used by the PlaformInvitation model to send an email invitation
EMAIL_HOST=<SMTP_SERVER_NAME> 
EMAIL_HOST_USER=<YOUR_EMAIL_ADDRESS>
EMAIL_HOST_PASSWORD=<YOUR_EMAIL_PASSWORD>
EMAIL_HOST_PORT=<SMTP_SERVER_PORT>